#sponsors {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 540px) {
  #sponsors {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.sponsorImage {
  max-width: 1200px;
  min-width: 280px;
  width: 100%;
  object-fit: contain;
  margin-top: 50px;
}

